@import "tailwindcss";
.home-grid{
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.color{
    background-color: white;
}
.shade{
    box-shadow: 0px -2px 38px 0px rgba(217, 192, 192, 0.75);
-webkit-box-shadow: 0px -2px 38px 0px rgba(84, 84, 84, 0.75);
-moz-box-shadow: 0px -2px 38px 0px rgba(151,151,151,0.75);
}
.grad{
    background: #7b4397;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #dc2430, #7b4397); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.glass{
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12.5px );
    -webkit-backdrop-filter: blur( 12.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    

}